<p>
    <label>Fiche de détail:</label>
</p>
<p>
    <label>
        <span class="title">name:</span>
        <span class="value" appHighlight>{{animal?.name}}</span>
    </label>
    <label>
        <span class="title">species:</span>
        <span class="value">{{animal?.species}}</span>
    </label>
    <label>
        <span class="title">veterinarian:</span>
        <span class="value">{{animal?.veterinarian}}</span>
    </label>
    <label>
        <span class="title">comment:</span>
        <span class="value">{{animal?.comment | truncate:180}}</span>
    </label>
</p>